h1{
    font-weight: bold;
}
p a, li a{
    color:#00a;
}
p a:hover, li a:hover{
    color:#00a;
    background:#bbb;
}
p a:visited, li a:visited{
    color:#500;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote p {
  display: inline;
}
