<div class="row li-author">
    <div class="sixteen columns">
        Written by <strong>{{ .Site.Params.author }}</strong>
        <br>
    <a class="connections" href="{{ .Site.BaseURL }}/index.xml"><img src="{{ .Site.BaseURL }}/img/rss-icon.jpg" alt="rss" width="24px" height="24px"></img></a>
    <a class="connections" href="https://github.com/Pagwin-Fedora"><img src="{{ .Site.BaseURL }}/img/github-icon.jpg" alt="github" width="24px" height="24px"></img></a>
    <a class="connections" href="https://www.linkedin.com/in/spencer-powell-pagwin/"><img src="{{ .Site.BaseURL }}/img/linkedin-icon.png" alt="linkedin" width="24px" height="24px"></a>
    </div>
</div>
