<!DOCTYPE html>
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' type='text/css'>
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/libraries/normalize.3.0.1.css" />
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/liquorice.css" />
        {{ cond (eq .Page.Kind "page") (safeHTML (printf "<link rel='stylesheet' href='%s/css/single.css'>" .Site.BaseURL)) "" }}
	<script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
        <link rel="icon" href="{{ .Site.BaseURL }}/img/icon.png" />
        <meta property="og:title" content="{{ .Title }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ .Permalink }}"/>
        <meta property="og:image" content="{{ .Site.BaseURL }}/img/icon.png">
        <meta property="og:description" content="{{ .Page.Description }}">
        <meta name="description" content="{{ .Page.Description }}">
        {{ range .AlternativeOutputFormats -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}
    </head>
    <body class="li-body">
